<!-- FOOTER start -->

		<footer class="footer">
			<div class="container">
				<div class="footer__logo">
					<span class="icon icon__logo"></span>
				</div>

				<hr>

				<div class="footer__social">
					<ul>
						<li>
							<a href="//codepen.io/ryanaltvater" target="_blank">
								<span class="icon icon__codepen"></span>
							</a>
						</li>

						<li>
							<a href="//github.com/ryanaltvater" target="_blank">
								<span class="icon icon__github"></span>
							</a>
						</li>

						<li>
							<a href="//dribbble.com/ryanaltvater" target="_blank">
								<span class="icon icon__dribbble"></span>
							</a>
						</li>

						<li>
							<a href="//linkedin.com/in/ryanaltvater" target="_blank">
								<span class="icon icon__linkedin"></span>
							</a>
						</li>

						<li>
							<a href="//twitter.com/ryyaaaannnnn" target="_blank">
								<span class="icon icon__twitter"></span>
							</a>
						</li>

						<li>
							<a href="//instagram.com/ryyaaaannnnn" target="_blank">
								<span class="icon icon__instagram"></span>
							</a>
						</li>
					</ul>
				</div>

				<div class="copyright">
					<p>Copyright &copy; <span class="copyright__year"></span> <span class="copyright__company">Ryan Altvater</span>. All&nbsp;rights&nbsp;reserved.</p>
				</div>
			</div>
		</footer>

<!-- FOOTER end -->

<!-- SCRIPTS start -->

		<script src="assets/js/scripts.min.js"></script>

<!-- SCRIPTS end -->
	</body>
</html>